<div class="container detail" ng-controller="personsDetailController as detail">
  <div class="row">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-3">
          <img ng-src="{{detail.DataService.selectedPerson.picture}}" class="img-rounded img-responsive well-image"  alt="">
        </div>
        <div class="col-md-9">
          <h4><span class="badge">{{detail.DataService.selectedPerson.name}}</span></h4>
          <p><span class="badge">{{detail.DataService.selectedPerson.email}}</span></p>
          <p><span class="badge">{{detail.DataService.selectedPerson.phone}}</span></p>
          <p><span class="badge">{{detail.DataService.selectedPerson.address}}</span></p>
          <p><span class="badge">{{detail.DataService.selectedPerson.tags}}</span></p>
          <p><span class="badge">{{detail.DataService.selectedPerson.gender}}</span></p>
          <p><span class="badge">{{detail.DataService.selectedPerson.eyeColor}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>