<div class="container-fluid person-list" ng-controller="personsListController as list">
  <div class="row">
    <div class="col-sm-6" 
          ng-repeat="person in list.data" 
          ui-sref="detailList({index:person.index})"> 
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-3">
            <img ng-src="{{person.picture}}" class="img-rounded img-responsive well-image"  alt="">
          </div>
          <div class="col-md-9">
            <h4><span class="badge">{{person.name}}</span></h4>
            <p><span class="badge">{{person.address}}</span></p>
            <p><span class="badge">{{person.tags}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>